/*
background-image: url("Images/TrueBlackAtmos.jpg");
*/
body {
    background-color: black;
}

#holder {
  position: absolute;
}

#star_menu {
  position: fixed;
  right: 0;
  top: 35%;
  width: 9em;
  margin-top: -2.5em;
  opacity: 0.5;
  border: 1px solid black;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  background-color: #999999;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

#singleStar{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: #cccccc;
  font-size: 12px;
  background-color: #323232;
}

#singleStarHolder{
  position: absolute;
  background-color: white;
  visibility: hidden;
}

.setBox {
  position: absolute;
  width: 10px;
  height: 10px;
}
